<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" version="2.1">
    <persistence-unit name="ticketSalesPU">
        <class>model.Artist</class>
        <class>model.User</class>
        <class>model.Admin</class>
        <class>model.Customer</class>
        <class>service.UserService</class>
        <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
            <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
            <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/ticketsalescompany"/>
            <property name="hibernate.connection.username" value="map"/>
            <property name="hibernate.connection.password" value="map"/>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
        </properties>
    </persistence-unit>
</persistence>